#heart {
    color: #071d49;
  font-size: 3rem;
}

#nav-icon > a > i:hover {
    color: #ff9f1a;
    transition: all .3s ease-in-out;
}

#car  {
  color: #ff9f1a;
  font-size: 5rem;
}

#star {
  color: #ff9f1a;
  font-size: 2rem;
}

#etoile {
  color: #ff9f1a;
  font-size: 1.5rem;
}

#choose a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  background-color: #fff;
  font-size: 2.2rem;
  border: .1rem solid #071d49;
  color: #071d49;
  border-radius: .5rem;
} 

#choose a:hover {
  background-color: #ff9f1a;
  color: #fff;
  transition: all .5s ease;
}