#heart {
  color: #071d49;
  font-size: 3rem;
}

.direct {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 6rem;
  width: 6rem; */
  padding: 3rem;
  margin: 1rem;
  color: #071d49;
  border-radius: 50%;
  border: solid .2rem #071d49;
  transition: all .5s ease;
}

.direct:hover {
  transform: translateY(-.5rem);
  background-color: #ff9f1a;
  color: #fff;
}

#nav-icon>a>i:hover {
  color: #ff9f1a;
  transition: all .3s ease-in-out;
}

#car {
  color: #ff9f1a;
  font-size: 5rem;
}

.star {
  color: #ff9f1a;
  font-size: 2rem;
}

.etoile {
  color: #ff9f1a;
  font-size: 1.5rem;
}

.choose {
  transform: translateX(-6rem);
  transition: all .5s ease;
  opacity: 0;
}

.mouseover:hover .choose {
  transform: translateX(0);
  opacity: 1;
}

.chose {
  transition: all .5s ease;
}

.mouseover:hover .chose {
  transform: scale(1.15);
}

.choose a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  background-color: #fff;
  font-size: 2.2rem;
  border: .1rem solid #071d49;
  color: #071d49;
  border-radius: .5rem;
}

.choose a:hover {
  background-color: #ff9f1a;
  color: #fff;
  transition: all .5s ease;
}